---
import BaseLayout from "../layouts/Layout.astro";
import Item from "../components/producto/item.astro";
import Details from "../components/producto/details.astro";
import Contacto from '../components/proveedor/contacto.astro';
import Agenda from '../components/proveedor/agenda.astro';
---

<BaseLayout>
  <div class="flex flex-row justify-evenly">
    <section>
      <p>Listado de Productos</p>
      <section class="mt-3 grid grid-flow-row gap-2">
        <Item />
        <Item showAlert={true} />
        <Item showAlert={true} />
        <Item />
        <Item />
        <Item showAlert={true} />
        <Item />
        <Item />
        <Item showAlert={true} />
        <Item showAlert={true} />
      </section>
    </section>
    <div>
      <section>
        <Details />
        <Contacto />
      </section>
      <section>
        <Agenda />
      </section>
    </div>
  </div>
</BaseLayout>
