---
import { db, Usuario } from "astro:db";
import Layout from "../layouts/Layout.astro";
import { eq } from "astro:db";
import { Negocio } from "astro:db";
import hasProfile from "../utils/profile";
import { Rol } from "astro:db";
import { gt } from "astro:db";

const cookie: string = `${Astro.cookies.get(import.meta.env.COOKIE_NAME || "_Security_Login_")?.value}`;
const negocio: string = hasProfile(cookie).negocio;

const idNegocio = await db
  .select()
  .from(Negocio)
  .where(eq(Negocio.nombre, negocio));

const listado = await db
  .select()
  .from(Usuario)
  .where(eq(Usuario.negocio, idNegocio[0].id));

const listRol = await db.select().from(Rol).where(gt(Rol.id, 1));
---

<Layout>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <caption
        class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800"
      >
        Tus empleados en el sistema
        <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">
          Aqui podr치s gestionar los usuario que usar치n los productos y acciones
          del sistema
        </p>
      </caption>
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3"> Nombre </th>
          <th scope="col" class="px-6 py-3"> Usuario </th>
          <th scope="col" class="px-6 py-3"> Rol </th>
          <th scope="col" class="px-6 py-3"> Logueado </th>
          <th scope="col" class="px-6 py-3">
            <span class="sr-only">Edit</span>
          </th>
          <th scope="col" class="px-6 py-3">
            <!-- Modal toggle -->
            <button
              data-modal-target="crud-modal"
              data-modal-toggle="crud-modal"
              class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              type="button"
            >
              Crear usuario
            </button>

            <!-- Main modal -->
            <div
              id="crud-modal"
              tabindex="-1"
              aria-hidden="true"
              class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
            >
              <div class="relative p-4 w-full max-w-md max-h-full">
                <!-- Modal content -->
                <div
                  class="relative bg-white rounded-lg shadow dark:bg-gray-700"
                >
                  <!-- Modal header -->
                  <div
                    class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600"
                  >
                    <h3
                      class="text-lg font-semibold text-gray-900 dark:text-white"
                    >
                      Crear nuevo usuario
                    </h3>
                    <button
                      type="button"
                      class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                      data-modal-toggle="crud-modal"
                    >
                      <svg
                        class="w-3 h-3"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 14 14"
                      >
                        <path
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
                      </svg>
                      <span class="sr-only">Close modal</span>
                    </button>
                  </div>
                  <!-- Modal body -->
                  <form
                    class="p-4 md:p-5"
                    action="/api/user/register"
                    accept-charset="UTF-8"
                    method="POST"
                  >
                    <div class="grid gap-4 mb-4 grid-cols-2">
                      <div class="col-span-2">
                        <label
                          for="busisness"
                          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                          >Nombre del Negocio</label
                        >
                        <input
                          type="text"
                          name="busisness"
                          id="busisness"
                          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                          value={negocio}
                          required=""
                          readonly=""
                        />
                      </div>
                      <div class="col-span-2">
                        <label
                          for="name"
                          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                          >Nombre</label
                        >
                        <input
                          type="text"
                          name="name"
                          id="name"
                          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                          placeholder="Nombre del empleado"
                          required=""
                        />
                      </div>
                      <div class="col-span-2">
                        <label
                          for="alias"
                          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                          >Usuario</label
                        >
                        <input
                          type="text"
                          name="alias"
                          id="alias"
                          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                          placeholder="Usuario del sistema"
                          required=""
                        />
                      </div>
                      <div class="col-span-2">
                        <label
                          for="role"
                          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                          >Rol en el sistema</label
                        >
                        <input
                          type="text"
                          name="role"
                          id="role"
                          class="hidden bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                          value=""
                        />
                        <select
                          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                          onclick="OnSelected()"
                          onselect="OnSelected()"
                          onchange="OnSelected()"
                        >
                          <option selected>Seleccione el rol</option>
                          {
                            listRol.length > 0 &&
                              listRol.map((item) => (
                                <option value={item.descripcion}>
                                  {item.descripcion}
                                </option>
                              ))
                          }
                        </select>
                      </div>
                      <div class="col-span-2 sm:col-span-1">
                        <label
                          for="password"
                          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                          >Contrase침a</label
                        >
                        <input
                          type="password"
                          name="password"
                          id="password"
                          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                          placeholder=""
                          required=""
                        />
                      </div>
                      <div class="col-span-2 sm:col-span-1">
                        <label
                          for="confirmPassword"
                          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                          >Confirmar contrase침a</label
                        >
                        <input
                          type="password"
                          name="confirmPassword"
                          id="confirmPassword"
                          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                          placeholder=""
                          required=""
                        />
                      </div>
                    </div>
                    <button
                      type="submit"
                      class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                    >
                      <svg
                        class="me-1 -ms-1 w-5 h-5"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                        ><path
                          fill-rule="evenodd"
                          d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                          clip-rule="evenodd"></path></svg
                      >
                      Crear usuario
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </th>
        </tr>
      </thead>
      <form action="api/user/uptime" accept-charset="UTF-8" method="POST">
        <tbody>
          {
            listado.length > 0 &&
              listado.map((profile) => (
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                  <th
                    scope="row"
                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                  >
                    {profile.nombre}
                  </th>
                  <td class="px-6 py-4"> {profile.alias} </td>
                  <td class="px-6 py-4"> {listRol.find((rol) => rol.id === profile.role)?.descripcion} </td>
                  <td class="px-6 py-4">
                    {" "}
                    {profile.logueado ? "Conectado" : "Desconectado"}{" "}
                  </td>
                  {/* <td class="px-6 py-4 text-right">
                    <button
                      type="submit"
                      class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                    >
                      {profile.habilitado ? 'Deshabilitar' : 'Habilitar'}
                    </button>
                  </td> */}
                </tr>
              ))
          }
        </tbody>
      </form>
    </table>
  </div>
</Layout>

<script is:inline>
  function OnSelected() {
    const options = document.querySelectorAll("option");
    const roleTag = document.getElementById("role");

    options.every((element) => {
      if (element.selected) {
        roleTag.value = element.value;
        return true;
      }
    });
  }
</script>
