---
interface Props {
  proveedor?: boolean;
  producto?: boolean;
}
import Item from "../../components/producto/item.astro";
import { db, Producto } from "astro:db";
import Crud from "./crud.astro";
const listProducto = await db.select().from(Producto);

const { proveedor = false, producto = false } = Astro.props;
---

<section class="relative overflow-x-auto mt-4 max-md:mx-4">
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3"> Nombre </th>
        <th scope="col" class="px-6 py-3"> Código </th>
        <th scope="col" class="px-6 py-3"> Precio Unitario </th>
        <th scope="col" class="px-6 py-3"></th>
        <th scope="col" class="px-6 py-3"></th>
        <th scope="col" class="px-6 py-3"></th>
        <th scope="col" class="px-6 py-3">
          <!-- Modal toggle -->
          <button
            data-modal-target="default-modal"
            data-modal-toggle="default-modal"
            class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            type="button"
          >
            Agregar Producto
          </button>

          <!-- Main modal -->
          <div
            id="default-modal"
            tabindex="-1"
            aria-hidden="true"
            class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
          >
            <Crud />
          </div>
        </th>
      </tr>
    </thead>
    <!-- Aqui se carga la lista -->
    <tbody>
      {
        listProducto.length > 0 &&
          listProducto.map((items) => (
            <Item
              nombre={items.nombre}
              codigo={items.codigo}
              precio={items.precio}
              cantidad={items.cantidad}
              proveedor={proveedor}
              producto={producto}
            />
          ))
      }
    </tbody>
  </table>
</section>
