---
import Head from "../components/shared/head.astro";
import Navbar from '../components/shared/navbar.astro';
import Footer from '../components/shared/footer.astro';

import hasProfile from "@utils/profile";

const cookie: string = `${Astro.cookies.get(import.meta.env.COOKIE_NAME || "_Security_Login_")?.value}`;
const d = hasProfile(cookie);
let login: string = `${d.success}`;
---

<!doctype html>
<html>
  <Head />
  <body>
    <Navbar login={d.success} role={d.role} sesionPage={false} />
    <input type="hidden" name="loginInput" id="loginInput" value={login} />
    <slot />
    <Footer />
  </body>
</html>
